.voltar {
    position: absolute;
    top: 1228px;
    left: calc(50% - 511px);
    font-family: Poppins;
    cursor: pointer;
}
.fazendo-a-limpa-pagar-certific-child {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #fff;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.05);
    width: 1440px;
    height: 100px;
}
.navbar-child {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #fafaff;
    box-shadow: 1px 1px 4px 1px rgba(5, 23, 61, 0.14);
    width: 1440px;
    height: 100px;
}
.incio {
    position: relative;
    line-height: 57.5px;
    font-weight: 500;
    display: inline-block;
    width: 59px;
    height: 50px;
    flex-shrink: 0;
}
.educacional {
    position: relative;
    line-height: 57.5px;
    font-weight: 500;
    color: #005dff;
    display: inline-block;
    width: 107px;
    height: 50px;
    flex-shrink: 0;
}
.quem-somos {
    position: relative;
    line-height: 57.5px;
    font-weight: 500;
    display: inline-block;
    width: 117px;
    height: 50px;
    flex-shrink: 0;
}
.suporte {
    position: relative;
    line-height: 57.5px;
    font-weight: 500;
    display: inline-block;
    width: 93px;
    height: 50px;
    flex-shrink: 0;
}
.incio-parent {
    width: 742px;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 24px;
}
.solaruser-circle-outline-icon {
    position: relative;
    width: 43px;
    height: 43px;
    overflow: hidden;
    flex-shrink: 0;
}
.ol-alexandre {
    margin: 0;
}
.ol-alexandre-meu-container {
    position: absolute;
    top: 0px;
    left: 0px;
    line-height: 22px;
    font-weight: 500;
}
.vector-icon {
    position: absolute;
    height: 15.91%;
    width: 11.01%;
    top: 72.73%;
    right: 0%;
    bottom: 11.36%;
    left: 88.99%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.ol-alexandre-meu-perfil-parent {
    position: relative;
    width: 109px;
    height: 44px;
}
.solaruser-circle-outline-parent {
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
    text-align: left;
    font-size: 16px;
}
.frame-parent {
    position: absolute;
    top: 24px;
    left: 351px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 24px;
}
.group-icon {
    position: absolute;
    height: 50%;
    width: 10.42%;
    top: 30%;
    right: 80.9%;
    bottom: 20%;
    left: 8.68%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.navbar {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1440px;
    height: 100px;
    text-align: center;
    font-size: 18px;
    color: #050c1a;
}
.para-colocar-o {
    position: absolute;
    top: 149px;
    left: calc(50% - 595px);
    display: inline-block;
    font-family: Poppins;
    color: #000;
    width: 1144px;
}
.para-voc-conseguir-container {
    position: absolute;
    top: 293px;
    left: calc(50% - 584px);
    font-size: 35px;
    color: #000;
    display: inline-block;
    width: 837px;
}
.image-8-icon {
    position: absolute;
    top: 293px;
    left: 1020px;
    width: 255px;
    height: 255px;
    object-fit: cover;
}
.receber-selo {
    position: relative;
    letter-spacing: 0.05em;
    font-weight: 800;
}
.receber-selo-wrapper {
    position: absolute;
    top: calc(50% + 302.5px);
    left: calc(50% + 353px);
    border-radius: 6px;
    background: linear-gradient(180deg, #006bff, #0046bf);
    width: 208px;
    height: 58px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    font-size: 22px;
}
.voltar-wrapper {
    position: absolute;
    top: calc(50% + 302.5px);
    left: calc(50% - 595px);
    border-radius: 6px;
    background: linear-gradient(180deg, #006bff, #0046bf);
    width: 183px;
    height: 58px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    box-sizing: border-box;
    cursor: pointer;
    text-align: center;
    font-size: 22px;
}
.fazendo-a-limpa-pagar-certific {
    position: relative;
    background-color: #fff;
    width: 100%;
    height: 865px;
    overflow: hidden;
    text-align: left;
    font-size: 40px;
    color: #fff;
    font-family: Inter;
}

