.fazendo-a-limpa-opces-child {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #fff;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.05);
    width: 1440px;
    height: 100px;
}
.navbar-etapas-child {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 25px;
    background: linear-gradient(95.46deg, #005dff, #17397c);
    border: 1px solid #000;
    box-sizing: border-box;
    width: 1147px;
    height: 480px;
}
.navbar-etapas {
    position: absolute;
    top: 266px;
    left: 144px;
    width: 1147px;
    height: 480px;
    cursor: pointer;
}
.navbar-child {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #fafaff;
    box-shadow: 1px 1px 4px 1px rgba(5, 23, 61, 0.14);
    width: 1440px;
    height: 100px;
}
.incio {
    position: relative;
    line-height: 57.5px;
    font-weight: 500;
    display: inline-block;
    width: 59px;
    height: 50px;
    flex-shrink: 0;
}
.educacional {
    position: relative;
    line-height: 57.5px;
    font-weight: 500;
    color: #005dff;
    display: inline-block;
    width: 107px;
    height: 50px;
    flex-shrink: 0;
}
.quem-somos {
    position: relative;
    line-height: 57.5px;
    font-weight: 500;
    display: inline-block;
    width: 117px;
    height: 50px;
    flex-shrink: 0;
}
.suporte {
    position: relative;
    line-height: 57.5px;
    font-weight: 500;
    display: inline-block;
    width: 93px;
    height: 50px;
    flex-shrink: 0;
}
.incio-parent {
    width: 742px;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 24px;
}
.solaruser-circle-outline-icon {
    position: relative;
    width: 43px;
    height: 43px;
    overflow: hidden;
    flex-shrink: 0;
}
.ol-alexandre {
    margin: 0;
}
.ol-alexandre-meu-container {
    position: absolute;
    top: 0px;
    left: 0px;
    line-height: 22px;
    font-weight: 500;
}
.vector-icon {
    position: absolute;
    height: 15.91%;
    width: 11.01%;
    top: 72.73%;
    right: 0%;
    bottom: 11.36%;
    left: 88.99%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.ol-alexandre-meu-perfil-parent {
    position: relative;
    width: 109px;
    height: 44px;
}
.solaruser-circle-outline-parent {
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
    text-align: left;
    font-size: 16px;
}
.frame-parent {
    position: absolute;
    top: 24px;
    left: 351px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 24px;
}
.group-icon {
    position: absolute;
    height: 50%;
    width: 10.42%;
    top: 30%;
    right: 80.9%;
    bottom: 20%;
    left: 8.68%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.navbar {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1440px;
    height: 100px;
    text-align: center;
    color: #050c1a;
    font-family: Inter;
}
.fazendo-a-limpa-opces-item {
    position: absolute;
    top: 300px;
    left: 180px;
    border-radius: 25px;
    background-color: #fff;
    width: 542px;
    height: 86px;
}
.por-dentro-da {
    position: absolute;
    top: 324px;
    left: calc(50% - 462px);
    font-size: 25px;
    display: inline-block;
    color: #0064ff;
    width: 386px;
    height: 27px;
}
.aqui-voc-vai {
    position: absolute;
    top: 417px;
    left: 180px;
    font-size: 40px;
    display: inline-block;
    width: 703px;
    height: 308px;
}
.fazendo-a-limpa-opces-inner {
    position: absolute;
    top: 641px;
    left: 1160px;
    border-radius: 15px;
    background-color: #fff;
    width: 97px;
    height: 71px;
}
.vector-icon1 {
    position: absolute;
    height: 2.94%;
    width: 3.54%;
    top: 37.44%;
    right: 14.31%;
    bottom: 59.62%;
    left: 82.15%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.navbar-etapas1 {
    position: absolute;
    top: 978px;
    left: 144px;
    width: 1147px;
    height: 480px;
    cursor: pointer;
}
.rectangle-div {
    position: absolute;
    top: 1012px;
    left: 180px;
    border-radius: 25px;
    background-color: #fff;
    width: 542px;
    height: 86px;
}
.aqui-voc-vai1 {
    position: absolute;
    top: 1129px;
    left: 180px;
    font-size: 40px;
    display: inline-block;
    width: 703px;
    height: 240px;
}
.fazendo-a-limpa-opces-child1 {
    position: absolute;
    top: 1353px;
    left: 1160px;
    border-radius: 15px;
    background-color: #fff;
    width: 97px;
    height: 71px;
}
.vector-icon2 {
    position: absolute;
    height: 2.94%;
    width: 3.54%;
    top: 78.46%;
    right: 14.31%;
    bottom: 18.61%;
    left: 82.15%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.cursos-profissionalizantes {
    position: absolute;
    top: 1035px;
    left: 240px;
    font-size: 25px;
    display: inline-block;
    color: #0064ff;
    width: 422px;
    height: 58px;
}
.voltar {
    position: relative;
}
.voltar-wrapper {
    position: absolute;
    top: 1562px;
    left: 144px;
    border-radius: 8.44px;
    background: linear-gradient(180deg, #006bff, #0046bf);
    width: 204px;
    height: 55px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 8.4375px;
    box-sizing: border-box;
    text-align: center;
}
.fazendo-a-limpa-opces {
    position: relative;
    background-color: #fff;
    width: 100%;
    height: 1736px;
    overflow: hidden;
    text-align: left;
    font-size: 18px;
    color: #fff;
    font-family: Poppins;
}

